body {
  margin:0;
  font-family: Arial;
  background:#0b0f1a;
  color:white;
}

.topbar {
  display:flex;
  justify-content:space-between;
  padding:10px;
  background:black;
}

.game {
  display:flex;
  height:90vh;
}

/* MENU */
.menu {
  width:200px;
  background:#111;
  padding:10px;
}

.menu button {
  width:100%;
  margin:10px 0;
  padding:10px;
  background:#222;
  color:white;
  border:none;
  cursor:pointer;
}

.menu button:hover {
  background:gold;
  color:black;
}

/* CONTENIDO */
.contenido {
  flex:1;
  padding:20px;
  text-align:center;
}

.panel {
  display:none;
}

.panel.active {
  display:block;
}

#char {
  width:200px;
  animation: float 2s infinite;
}

@keyframes float {
  0%{transform:translateY(0)}
  50%{transform:translateY(-20px)}
  100%{transform:translateY(0)}
}

.play {
  padding:15px 40px;
  background:gold;
  border:none;
  font-size:20px;
}
