body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
  overflow: hidden;
}

/* BARRA */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0,0,0,0.7);
}

.logo {
  color: gold;
  font-weight: bold;
}

/* CONTENEDOR */
.container {
  display: flex;
  height: 90vh;
}

/* MENU */
.sidebar {
  width: 200px;
  background: rgba(255,255,255,0.05);
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar button:hover {
  background: gold;
  color: black;
}

/* CENTRO */
.main {
  flex: 1;
  text-align: center;
  position: relative;
}

/* PERSONAJE ANIMADO */
#character {
  width: 250px;
  animation: flotar 2s infinite ease-in-out;
}

@keyframes flotar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/* BOTON */
.start {
  background: gold;
  border: none;
  padding: 15px 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.start:hover {
  background: orange;
}

/* PANEL DERECHO */
.right {
  width: 200px;
  padding: 20px;
}
